apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- configmap.yaml
- service.yaml
- route.yaml

images:
- name: quarkus
  newName: image-registry.openshift-image-registry.svc:5000/development-diversificacion/ms-ocp-matrix-retrieveproductinstances-graphql
  newTag: ms-ocp-matrix-retrieveproductinstances-graphql
